In [33]:
import streamlit as st

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import os
import plotly.express as px
px.set_mapbox_access_token(os.getenv("MAPBOX_TOKEN"))

In [41]:
def load_data(fraction=0.2):
    df = pd.read_csv("AB_NYC_2019.csv")

    #df.rename(columns={'neighbourhood_group': 'n_group'}, inplace=True)

    # parsing dates and making a year and month col
    df['last_review'] = pd.to_datetime(df['last_review'], format="%Y-%m-%d")
    df['year'] = df['last_review'].dt.year.astype("Int64")
    df['month'] = df['last_review'].dt.month.astype("Int64")
    df['day'] = df['last_review'].dt.day.astype("Int64")
    return df.sample(frac=fraction)

df = load_data(0.1)
df = df.dropna()
print(df.shape)
df.head()

(3884, 19)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day
27087,21429062,Beautiful spacious duplex in Bed Stuy Brooklyn,122044489,Tonie,Brooklyn,Bedford-Stuyvesant,40.69119,-73.94225,Entire home/apt,110,2,39,2019-06-30,1.91,2,130,2019,6,30
8185,6311978,LES Private Room in 3BR Apt,4309521,Sarah,Manhattan,Lower East Side,40.71959,-73.98984,Private room,60,1,1,2016-01-05,0.02,1,0,2016,1,5
30225,23335839,Williamsburg Oasis,9761047,Anika,Brooklyn,Williamsburg,40.71707,-73.95982,Private room,60,3,46,2019-06-20,2.88,3,0,2019,6,20
39615,30823817,New York Lovely Quiet Room near to Time’s Square,137191484,Maria,Manhattan,Hell's Kitchen,40.76436,-73.98779,Private room,120,1,31,2019-06-21,4.67,5,321,2019,6,21
2661,1411811,Charming Parlor Apt off Bleecker,4129805,Evelyn,Manhattan,West Village,40.73078,-74.00282,Entire home/apt,210,2,140,2019-06-10,2.10,5,319,2019,6,10

In [45]:
st.multiselect

(3884, 19)

In [44]:
neighbourhood_group = "Brooklyn"
d = df.query("neighbourhood_group == @n_groups and 0 < price < 10000")
d.shape

(3884, 19)

In [32]:
d.price.min(), d.price.max()

(101, 950)

In [37]:
n_groups = list(df.neighbourhood_group.unique())
n_groups

['Brooklyn', 'Queens', 'Manhattan', 'Bronx', 'Staten Island']

In [39]:
d = df.query("neighbourhood_group == @neighbourhood_group and 100 < price < 1000")
d.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day
37584,29821404,Sunny Bohemian Apartment in Solar Building!,224317523,Olivia,Brooklyn,South Slope,40.66402,-73.98282,Entire home/apt,285,5,29,2019-06-16,3.57,1,74,2019,6,16
7913,6065778,Sunny Apt near Park and Subways in Windsor Terr,12811150,Sarah,Brooklyn,Windsor Terrace,40.65888,-73.98013,Entire home/apt,128,5,83,2018-12-26,1.63,1,52,2018,12,26
9758,7500571,Gorgeous 1 Bedroom in Bed-Stuy,39288710,Audra,Brooklyn,Bedford-Stuyvesant,40.68544,-73.93872,Entire home/apt,102,3,64,2019-06-24,1.38,1,296,2019,6,24
44189,34092210,"BEACH 2 BDR, 2 BTH NEW YORK, BRIGHTON BEACH",181356989,Kseniya,Brooklyn,Brighton Beach,40.57647,-73.96696,Entire home/apt,275,2,1,2019-06-30,1.00,2,56,2019,6,30
5100,3663798,"Big WBurg Rm, 5 min from L, Fits 4!",18272570,Qian,Brooklyn,Williamsburg,40.70917,-73.94918,Private room,119,2,43,2016-06-30,0.72,1,0,2016,6,30